* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  justify-content: space-evenly;
}
.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.map {
  margin-bottom: 20px;
}
.app__left {
  flex: 0.8;
  margin-top: 15px;
}
.app__right {
  margin-top: 15px;
}
.app__table {
  display: flex;
  flex-direction: column;
}
.app__table > h3 {
  text-align: center;
}
.app__graph {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.app__graph > h3 {
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.graph .MuicardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.graph {
  flex-grow: 1;
}
@media (max-width: 570px) {
  .app__left {
    flex-direction: column;
    align-items: center;
  }

  .app__header {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .app__header > h1 {
    margin-left: 35px;
    margin-bottom: 10px;
  }

  .app__stats {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .app__stats > div.MuicardContent-root {
    padding: 20px;
  }
}
